# ============================================================
# ARCHIVO .env — SOLO PARA USO LOCAL
# ¡¡NO SUBAS ESTE ARCHIVO A GITHUB!!
# Agrega ".env" a tu .gitignore
# ============================================================

# Flask
SECRET_KEY=pon_aqui_una_frase_larga_y_aleatoria
FLASK_DEBUG=False

# Base de datos (Railway te dará estos valores automáticamente)
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=mydb

# Adafruit IO (MQTT)
AIO_USERNAME=angeldedios
AIO_KEY=pon_aqui_tu_clave_de_adafruit
